@import 'css/base.less';
.common-title{
  width:100%;
  height:42px;
  line-height:42px;
  background-color:#fff;
  border-bottom:1px solid #dedede;
  text-align:center;
  >a.back{
    float:left;
    margin-top:15px;
    margin-left:12px;
    .setArrow(left,12px,#000,1px)
  }
}
