<header name="{{data.fengInsName}}" fn="als"></header>
<div class="annuity-header">
 <p><span>27-30</span>%</p>
 <p>每月领取月交金额</p>
    <ul>
        <li>
            <p>450.00元/份</p>
            <p>月交金额</p>
            <span>|</span>
        </li>
        <li>
            <p>10年交</p>
            <p>交费期限</p>
            <span>|</span>
        </li>
        <li>
            <p>终身</p>
            <p>保障期限</p>
        </li>
    </ul>
</div>
<div class="annuity-part1">
    <dl>
        <dt>产品名称</dt>
        <dd ng-bind="data.fengInsName"></dd>
    </dl>
    <dl>
        <dt>产品说明</dt>
        <dd class="readme">
        </dd>
    </dl>
</div>
<h3 ng-repeat="nos in noticeLocation"  ng-click="analyticsInfo.locationNext({url:'notice',params:{type:nos.types}})">
    <span ng-bind="nos.name"></span>
    <a class="next-a"></a>
</h3>

<div class="loan-btn btn-default">立即购买</div>
<style>
    @import './css/annuityDetail.css';
</style>
<script>

</script>