<header name="注册" sub-name="登录" fn-execute="gologin({url:'login'})"></header>
<div class="m-form_wrap">
    <form id="formCheck" novalidate="" name="form" role="form">
        <ui-input ng-model="user.tel" nature="user.telCom"></ui-input>
        <ui-input ng-model="user.code" nature = "user.codeCom"></ui-input>
        <ui-input ng-model="user.msgCode" nature = "user.msgCodeCom" fn-btn="changeText()"></ui-input>
        <ui-input ng-model="user.pwd" nature = "user.pwdCom"></ui-input>
    </form>
</div>
<style>
    @import 'css/login.css';
</style>